.btn-outline {
    color: #4fbfa8;
    background-color: #ffffff;
    border-color: #4fbfa8;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  
  .btn-outline {
    color: #ff0000;
    background-color: #ffffff;
    border-color: #ff0000;
    font-weight: bold;
    border-radius: 30px;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #ff0000;
    color: #ffffff;
    border-color:#ff0000;
    border-radius: 30px;
  
  }